@font-face {
	font-family: Jost; 
	src: url(/fonts/Jost.ttf); 
}

@font-face {
	font-family: 'Vetrino'; 
	src: url(/fonts/Vetrino.ttf); 
}



.product {
  background-color: white;
    position: relative;
    padding: 20px;
    padding-bottom: 0px;
    height: fit-content;
    padding-bottom: 130px;
  }
  
  .product-category {
    padding: 0 10vw;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 40px;
    text-transform: capitalize;
  }
  
  .product-container {
    margin-top: 80px;
    padding-left: 130px;
    display: flex;
    overflow-x: auto;
overflow-y: hidden;
    scroll-behavior: smooth;
  }
  
  .product-container::-webkit-scrollbar {
    display: none;
  }
  
  .product-card {
    position: relative;
    flex: 0 0 auto;
    width: 370px;
    height: fit-content;
    margin-right: 20px;
  }
  
  .product-image {
    position: relative;
    width: 370px;
    height: 500px;
    max-height: 632px; 
    overflow: hidden;
    background-color: #EEEAE7;
  }
  
  .product-thumb {
    height: 70%;
    width: auto;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
  
  .discount-tag {
    border-radius: 20px;
    position: absolute;
    background: #FF3535;
    padding: 5px;
    color: #ffffff;
    right: 10px;
    top: 10px;
    font-family: "Montserrat";
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 140%;
  }
  
  .card-btn {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    width: 90%;
    text-transform: capitalize;
    border: none;
    outline: none;
    background: #fff;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
    opacity: 0;
  }
  
  .product-card:hover .card-btn {
    opacity: 1;
  }
  
  .card-btn:hover {
    background: #ff7d7d;
    color: #fff;
  }
  
  
  .product-brand {
    padding-top: 20px;
    color:  #313131;
    font-family: Jost;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
  }
  
  .product-short-description {
    display: block;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1s, visibility 0s linear 0.3s;
    overflow-y: scroll;
    height: 100%;
    background-color: white;
    position: absolute;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    /*margin-top: 10px;
    height: fit-content;*/
    width: 100%;
    font-family: "Montserrat";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 120%;
color: #6E6E73;
  }
  

  .dsp-block{
    opacity: 1;
    visibility: visible;
    transition-delay: 0s;
    display: block;
    overflow-y: scroll;
    height: 100%;
    background-color: white;
    position: absolute;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    /*margin-top: 10px;
    height: fit-content;*/
    width: 100%;
    font-family: "Montserrat";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 120%;
color: #6E6E73;
  }

  .product-short-description::-webkit-scrollbar {
    width: 0;
  }
  
  .price {
    color:  #313131;
    font-family: Jost;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; 
    text-transform: uppercase;
  }
  

  
  
  .pre-btn,
  .nxt-btn {
    border: none;
    position: relative;
    display: inline-block;
    background: transparent;
    cursor: pointer;
    z-index: 8;
  }

  .nxt-btn{
    margin-left: 40px;
    &:hover{
      transform: translateX(8px);
      transition: all .5s;
    }
  }

  .pre-btn{
    &:hover{
      transform: translateX(-8px);
      transition: all .5s;
    }
  }
  
  .progress{
    margin-top: 60px;
    width: 80%;
    margin-left: 130px;
    margin-right: 130px;
    height: 2px;
    position: relative;
  }
  
  .progress-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
    transition: all .3s;
    background-color: #8a6d57;
  }
  
  .prog-bar-inner {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0px;
    width: 100%;
    height: .5px;
    background-color: #8a6d576c;
  }

  .arrow-buttons{
    margin-top: 60px;
    margin-left: 130px;
  }
  